.container {
    background-color: blue;
    /* display: inline; div has a default display block (will not accept height/width)*/
    width: 300px;
    height: 250px;
    display: inline-block;
}

img {
    height: 20px;
    width: 20px;
    justify-content: spaced-evenly;
    display: flex;
}
.container2 {
    width: 200px;
    display: inline-block;
}
.red1 {
    justify-content:right;
    height: 35px;
    width: 400px;
    background-color: red;
}

.white1 {
    justify-content:right;
    height: 40px;
    width: 400px;
    background-color: white;
}


.container3 {
    width: 500px;
    display: inline-block;
}
.white {
    background-color: white;
    height: 45px;
    width: 700px;
}

.red {
    background-color: red;
    height: 45px;
    width: 700px;
}
